

<div
  class="relative flex flex-cols items-center justify-center h-screen  overflow-hidden"
>
  <div
    class="relative z-30 p-20 flex-cols text-center align-center  text-2xl text-black border-yellow-200 text-opacity-100 backdrop-blur-sm  rounded-xl"
  >
    <h1 class="text-8xl text-bold justify-center">Will Be Implemented Shortly</h1>
    <br>
    <button class="justify-center border-black justify-center align-center"><a routerLink="/home" routerActive="active"> head back home ?</a> </button>

  </div>
</div>