@import "./constants.css";
.App {
    display: grid;
    place-content: center;
    height: 100vh;
    grid-template-columns: auto 220px;
}
button {
    background: var(--dark-tile);
    color: var(--light-tile);
    border: 2;
    padding: 10px 30px;
    margin: 10px 0;
    font-size: 1.1em;
}
