.moves-list {
    display: flex;
    flex-direction: row;
    color: #474242;
    background-color: var(--light-tile-color);
    border: 5px solid #474242;
    flex: 1 1;
    flex-wrap: wrap;
    align-content: start;
    overflow: auto;
    font-size: 1.1em;
}
.moves-list div {
    flex-direction: row;
    flex-basis: 35%;
    padding-left: 15%;
    text-align: left;
    position: relative;
    padding-bottom: 5px;
}
.moves-list div[data-number]:nth-child(odd)::before {
    content: attr(data-number);
    position: absolute;
    left: 0;
    opacity: 0.5;
    border: 1px solid var(--dark-tile-color);
}
